.background-image {
    background-image: url("./esaias-tan-MKvjc2kar7Q-unsplash.jpg");
    position: fixed;

    left: 0;
    right: 0;
    z-index: -1;

    display: block;
    height: 100vh;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}